{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/auth.css') }}"> 
{% endblock %}

{% block title %}Iniciar sesi칩n{% endblock %}

{% block body %}
    <div class="auth-container">
        <img src="{{ asset('images/logo-blanco.png') }}" alt="logo" class="logo">

        <div class="container">
            <form class="form" method="post">
                <h1>Iniciar sesi칩n</h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <div class="label-container">
                        <span class="material-symbols-outlined icon-left">
                            mail
                        </span>
                        <label for="inputEmail" class="label">Email</label>
                    </div>
                    <div class="inputForm">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" autocomplete="email" required autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <div class="label-container">
                        <span class="material-symbols-outlined icon-left">
                            lock
                        </span>
                        <label for="inputPassword" class="label">Contrase침a</label>
                    </div>
                    <div class="inputForm">
                        <input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="button-submit" type="submit">Iniciar sesi칩n</button>
            </form>
        </div>
    </div>
{% endblock %}
