<div class="product">
  <img src="{{ product.imageUrl }}" alt="{{ product.title }}">
  <div class="product-info">
      <p class="product-rating">Puntuación: {{ product.rating }}</p>
  </div>
  <div class="product-features">
      <h2>{{ product.title }}</h2>
      {# <ul>
          {% for feature in product.features %}
              <li>{{ feature.description }}</li>
          {% endfor %}
      </ul> #}
  </div>
  <div class="product-button">
      <button>Ver producto</button>
  </div>
</div>
